<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
    <span>Bienvenue dans l'application</span>
    <span th:text="${student.firstName}"></span>
    <span th:text="${student.lastName}"></span>
</h1>
<h1 th:text="${student1}?:'L\'étudiant n\'existe pas.'"></h1>

<h1 th:text="${student1 == null}?'L\'étudiant n\'existe pas.':'L\'etudiant existe'"></h1>

<h1 th:if="${student1 == null}">
    Au revoir
</h1>

<!-- Connexion entre les différentes pages -->
<a th:href="@{/login}">Lien connexion</a>
<a th:href="@{/students}">Lien étudiant</a>
</body>
</html>